<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {title:"Index"})%>
  <body>
    <div class="cart-containerWrapper">
      <div class="cart-containerWrapper-partials">
        <%- include('../partials/navbar') %>
        <main class="cart-container">
          <a class="breadcrumb" href="/">Volver</a>
          <h1>Productos en tu carrito</h1>
          <div class="cart-list">
            <% products.map((product)=>{%> <%-
            include("../partials/productInCart.ejs", {product})%> <% }) %>
          </div>

          <div class="cart-total-container">
            <p>Total de Puntos</p>
            <span class="total-price"
              ><%= products.reduce((total, product)=>total+product.price, 0) %>
            </span>
          </div>
          <div class="button-container">
            <form action="/cart/checkout" method="get">
              <button class="section-product-detail__button">Ir a pagar</button>
            </form>
          </div>
        </main>
      </div>
      <%- include("../partials/footer.ejs")%>
    </div>
  </body>
</html>
