<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {title:"Index"})%>

    <body>
        <%- include('../partials/navbar') %>

            <main class="main--partials">
                <div class="main--partials-container">
                    
                    <% if (!error){ %>
                        <div class="breadcrumb">
                            <a class="" href="/">Volver al listado</a><a href="" class=""><%=product.category%></a>

                        </div>
                        <section class="section-product-detail">
                            <div class="section-product-detail__images">
                                <div class="section-product-detail__images-banner"><img src="<%=product.images[0]%>"
                                        alt=""></div>
                                <div class="section-product-detail__images-collection">
                                    <%if(product.images.length>2){ %>
                                        <img src="<%=product.images[1]%>" alt="<%=product.title%>">
                                        <img
                                            src="<%=product.images[0]%>" alt="<%=product.title%>">
                                        <img
                                            src="<%=product.images[2]%>" alt="<%=product.title%>">
                                    <%}else if(product.images.length===2){ %>
                                        <img src="<%=product.images[0]%>" alt="<%=product.title%>">
                                        <img src="<%=product.images[1]%>" alt="<%=product.title%>">
                                    <%} else{%>
                                        <img src="<%=product.images[0]%>" alt="<%=product.title%>">
                                    <%}%>
                                </div>
                            </div>
                            <div class="section-product-detail__description">
                                <h2>
                                    <%=product.title%>
                                </h2>
                                <h3 class="section-product-detail__description-price">
                                    <%=product.price%> <span>PUNTOS</span>
                                </h3>
                                <p>
                                    <%=product.description%>
                                </p>
                                <button class="section-product-detail__button">Agregar al carrito</button>
                            </div>

                        </section>
                        <%} else {%>
                            <%- include("../partials/error.ejs", {prod:true}) %>
                        <% }%>
                    
                    <h3>También te puede interesar</h3>
                    <div class="product-list--cards">
                        <div class="product-list--cards--card">
                            <div class="product-list--card--image-container">
                                <img src="/img/Rectangle 2.svg" alt="" class="product-list--card--image-container--image">
                            </div>
                            <div class="product-list--card--text">
                                <div class="product-list--card--text--title">
                                    <h3>Coca Cola Lata 220mL Pack Original</h3>
                                    <h3>x8 Unidades</h3>
                                </div>
                                <div class="product-list--card--text--price">
                                    <h3>760</h3>
                                    <p class="product-list--card--text--price--p">PUNTOS</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-list--cards--card">
                            <div class="product-list--card--image-container">
                                <img src="/img/Rectangle1.svg" alt="" class="product-list--card--image-container--image">
                            </div>
                            <div class="product-list--card--text">
                                <div class="product-list--card--text--title">
                                    <h3>NOMBRE DEL PRODUCTO O</h3>
                                    <h3>SERVICIO</h3>
                                </div>
                                <div class="product-list--card--text--price">
                                    <h3>XX.XXX</h3>
                                    <p class="product-list--card--text--price--p">PUNTOS</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-list--cards--card">
                            <div class="product-list--card--image-container">
                                <img src="/img/Rectangle1.svg" alt="" class="product-list--card--image-container--image">
                            </div>
                            <div class="product-list--card--text">
                                <div class="product-list--card--text--title">
                                    <h3>NOMBRE DEL PRODUCTO O</h3>
                                    <h3>SERVICIO</h3>
                                </div>
                                <div class="product-list--card--text--price">
                                    <h3>XX.XXX</h3>
                                    <p class="product-list--card--text--price--p">PUNTOS</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-list--cards--card">
                            <div class="product-list--card--image-container">
                                <img src="/img/Rectangle1.svg" alt="" class="product-list--card--image-container--image">
                            </div>
                            <div class="product-list--card--text">
                                <div class="product-list--card--text--title">
                                    <h3>NOMBRE DEL PRODUCTO O</h3>
                                    <h3>SERVICIO</h3>
                                </div>
                                <div class="product-list--card--text--price">
                                    <h3>XX.XXX</h3>
                                    <p class="product-list--card--text--price--p">PUNTOS</p>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    <%-include("../partials/category.ejs")%>
                </div>
            </main>
        <%-include("../partials/footer.ejs")%>
    </body>

</html>