<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title:"Search"}) %>
  <body>
    <!-- Header -->
    <%- include('../partials/navbar.ejs', noSearchBox) %> 

    <main class="main--partials search--page--container">
        <div class="main--partials-container">
          <section class="category-1">
            <%-include("../partials/category.ejs")%>
          </section>
        </div>
        <div class="main--partials-container">
          <div class="product-list search--results--container">
            <% if (products.length>0) { %>
                <div class="product-list--h">
                  <h3>Resultados de la búsqueda <%= products.length %> </h3>
                </div>
                <div class="product-list--cards search--results--cards">
                    <% for(i=0;i<products.length;i++) {%>
                        <%-include("../partials/productCard.ejs", {"product":products[i]})%> 
                    <% }%>
                </div>
            <% } else { %>
                <div class="product-list--h no-result">
                    <h3>No se encontraron resultados.</h3>
                    <i class="fa-regular fa-face-flushed"></i>
                </div>
            <% } %>  
          </div>
            <div class="product-list--h">
                <h3>Los más pedidos</h3>
              </div>
              <div class="product-list--cards">
                <% for(i=0;i<=3;i++){%> <%-include("../partials/productCard.ejs",
                {"product":mostPopular[i]})%> <% } %>
            </div>
        </div>
      </main>
     <!-- Footer -->
     <%- include('../partials/footer.ejs') %>
  </body>
</html>
